.display-2xl {
	font-size: 72px;
	letter-spacing: -1.44px;
	line-height: normal;
}
.display-xl {
	font-size: 60px;
	letter-spacing: -1.2px;
	line-height: normal;
}
.display-lg {
	font-size: 72px;
	letter-spacing: -0.96px;
	line-height: 86px;
}
.display-md {
	font-size: 64px;
	letter-spacing: -0.72px;
	line-height: 72px;
}
.display-sm {
	font-size: 56px;
	line-height: 64px;
}
.display-xs {
	font-size: 24px;
	line-height: normal;
}
// text
.text-xl {
	font-size: 20px;
	line-height: normal;
}
.text-lg {
	font-size: 18px;
	line-height: normal;
}
.text-md {
	font-size: 16px;
	line-height: normal;
}
.text-sm {
	font-size: 14px;
	line-height: normal;
}
.text-xs {
	font-size: 12px;
	line-height: normal;
}
// Headline
.headline-lg {
	font-size: 48px;
	line-height: 56px;
}
.headline-md {
	font-size: 36px;
	line-height: 46.8px;
}
.headline-sm {
	font-size: 32px;
	line-height: 40px;
}
// Title
.title-lg {
	font-size: 24px;
	line-height: 32px;
}
.title-md {
	font-size: 20px;
	line-height: 32px;
}
.title-sm {
	font-size: 18px;
	line-height: 28px;
}
// Body
.body-lg {
	font-size: 16px;
	line-height: 24px;
}
.body-md {
	font-size: 14px;
	line-height: 20px;
}
.body-sm {
	font-size: 12px;
	line-height: 16px;
}
// Caption
.text-caption {
	font-size: 10px;
	line-height: normal;
}
